body { padding: 20px 50px 50px; }
h2 { margin: 30px 0 40px; font-size: 18px; font-weight: bold; }
.loading { background: #EBF5FA url(../img/loading.gif) no-repeat 50% 50%; }
pre {
    color: #444;
    cursor: auto;
    border-left: 2px solid #7F96AA;
    margin-top: 20px;
    padding: 0 10px 20px 10px;
    font-size: 14px;
}
.hidden { display: none; }


#demo1 {
    padding-top: 29px;
    position: relative;
    width: 750px;
}
#demo1 .jinpu { position: absolute; left: 20px; margin-top: -29px; z-index: 99; }
#demo1 .jinpu li {
    float: left;
    width: 130px;
    height: 27px;
    line-height: 21px;
    text-align: center;
    background: url(../img/tabs.gif) no-repeat 0 6px;
    margin-right: 3px;
    padding-top: 8px;
    cursor: pointer;
}
#demo1 .jinpu li.active { background-position: 0 -40px; cursor: default; }
#demo1 .able-switchable-content {
    position: relative;
    height: 120px;
    padding: 20px;
    border: 1px solid #AEC7E5;
}



#demo2 { position: relative; width: 950px; height: 450px; border: 1px solid #B6D1E6; overflow: hidden; }
#demo2 .able-switchable-nav { position: absolute; bottom: 5px; right: 5px; z-index: 99; }
#demo2 .able-switchable-nav li {
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 3px;
    background-color: #FCF2CF;
    border: 1px solid #F47500;
    color: #D94B01;
    text-align: center;
    cursor: pointer;
}
#demo2 .able-switchable-nav li.active {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-top: -1px;
    color: #FFF;
    background-color: #FF9415;
    font-weight: bold;
}
#demo2 .able-switchable-content li { height: 450px; width: 950px; overflow: hidden; }



#demo3 {
    position: relative;
    width: 515px;
    height: 220px;
    border: 1px solid #D3D2D2;
    padding: 1px;
    overflow: hidden;
}
#demo3 .able-switchable-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 106px;
    font-size: 14px;
    background: #fff;
    margin: 1px;
    z-index: 99;
}
#demo3 .able-switchable-nav li {
    border-bottom: 1px solid #EDEDED;
}
#demo3 .able-switchable-nav li a {
    display: block;
    text-indent: 15px;
    padding: 8px 5px;
    color: #666;
}
#demo3 .able-switchable-nav li.active {
    background-color: #C8282B;
}    
#demo3 .able-switchable-nav li.active a {
    color: #fff;
    border-left: 3px solid #B30024;
}
#demo3 .able-switchable-content {
    height: 220px;
    width: 405px;
}



.scrollable {
    position: relative;
    width: 820px;
}
.scrollable .prev, .scrollable .next {
    position: absolute;
    top: 50px;
    color: #5E6E84;
    cursor: pointer;
}
.scrollable .prev { left: 10px; }
.scrollable .next { right: 10px; }

.scrollable .able-switchable-nav {
    position: absolute;
    right: 30px;
    top: -10px;
}
.scrollable .able-switchable-nav li {
    float: left;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}
.scrollable .able-switchable-nav li.active {
    color: #C8282B;
}

.scroller {
    position: relative;
    width: 680px;
    height: 120px;
    border: 1px solid #ccc;
    background-color: #F9F9F9;
    margin: auto;
    overflow: hidden;
}
.scroller .able-switchable-content img {
    float: left;
    width: 100px;
    height: 75px;
    padding: 2px;
    margin: 20px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline !important; /* fix ie6 双边距 bug */
}




.scroll-news { height: 20px; overflow: hidden; }
.scroll-news a { color: #FF7E00; }



#slideFocus { border: 1px solid #C2C2C2; height: 284px; width: 678px; overflow: hidden; }
#slideFocus .h { background: #f3f3f3; padding: 3px 0 7px 12px; }
#slideFocus .c { padding: 9px 10px 0; }
#slideFocus .pic { width: 379px; height: 233px; overflow: hidden; float: left; }
#slideFocus .txt { width: 270px; float: right; }
#slideFocus .desc-list h4 a { font-size: 14px; line-height: 25px; color: #f60; }
#slideFocus .desc-list p { height: 55px; line-height: 18px; color: #666; overflow: hidden; margin: 10px 0; }
#slideFocus .thumbs-list li { float: left; height: 62px; width: 84px; padding: 2px; margin: 1px; display: inline !important; }
#slideFocus .thumbs-list li.active { background-color: #f60; }



#accordion1{width:300px;border:1px solid #ccc;}
#accordion1 .able-switchable-trigger{padding:3px 10px;cursor:pointer;border-bottom:1px solid #ddd;background:#f3f3f3;}
#accordion1 .able-switchable-trigger span {font-size: 14px; font-weight: bold;}
#accordion1 .able-switchable-panel{height:150px;padding:3px 10px;}
#accordion1 .able-icon{display:inline-block;width:12px;height:12px;overflow:hidden;margin-right:4px;font-size:0px;vertical-align:middle;background:url(../img/icon.png) no-repeat 0 0;}
#accordion1 .active .able-icon{background-position:-20px 0;}

#notice {
    clear: both;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
